body {
    background: silver;
}

header {
    background: yellow;
    height : 50px
}

nav {
    background: white;
    float: right;
    width: 200px;
    height: 150px;
}

p {
    font-family: Verdana;
    background: blue;
    color: white;
}

footer {
    background: yellow;
    clear: both;
    height: 50px
    
}